html {
    font-size: 18px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: 'Roboto', sans-serif;
    background-color: #FFEB3B;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 5px solid #FDD835;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    color: #00539F;
}

p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 0;
}

img {
    display: block;
    margin: 0 auto;
}